<section>
  <div class="container">
    <div class="row text-center m-3 bg-light ">
      <div class="head">
        <h3 class="text-primary text-center my-4">General Rules</h3>
      </div>
      <form [formGroup]="addRules"  >
         <div class="row">
          <div class="col-8 offset-2 m-auto">
            <h4 class="text-center mb-3 text-warning-emphasis ">Extras and discounts</h4>

          
            <!-- -------------------------------------------------------------------------- -->

          

            <div class="mb-3">
              <label for="bouns">Bouns</label>
              <input formControlName="bonus" type="number" id="bouns" class="form-control  " name="bonus">
              <ng-container *ngIf="getBouns.touched">
                <div *ngIf="getBouns.hasError('required')" class="alert alert-danger mt-1" id="errorName">
                  Bouns is required
                </div>
              </ng-container>
            </div> 
  <!-- -------------------------------------------------------------------- -->
         <div class="mb-3">
    <label for="discound">Deduction</label>
    <input formControlName="discound" type="number" id="discound" class="form-control  " name="discound">
    <ng-container *ngIf="getDiscound.touched">
      <div *ngIf="getDiscound.hasError('required')" class="alert alert-danger mt-1" id="errorName">
        Deduction is required
      </div>
    </ng-container>
                       </div> 

          </div>
<!-- ------------------------------------------------------------------------------------ -->
       
           
          <div class="col-8 my-5 offset-2">
                   <h4 class=" text-center mt-5">WeekEnd</h4>
            <div class="input-group mb-3">
              <label for="offDay1"></label>

             <select formControlName="offDay1" class="form-select" aria-label="Default select example"  name="offDay1" id="offDay1">
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
            </select>
           <ng-container *ngIf="GetOffDayOne.touched">
              <div *ngIf="GetOffDayOne.hasError('required')" class="alert alert-danger  mb-3" id="errorName">
                Day one is required
              </div>
            </ng-container> 
          </div>
          

          <div class="input-group mb-3">
            <label for="offDay2"></label>

            <select formControlName="offDay2" class="form-select" aria-label="Default select example" name="offDay2"
              id="offDay2">
  
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday" >Friday</option>
            </select>
            <ng-container *ngIf="GetOffDayTwo.touched" >
              <div *ngIf="GetOffDayTwo.hasError('required')" class="alert alert-danger mt-2" id="errorName">
                Day two is required
              </div>
            </ng-container> 
          </div>
          </div>
         </div>




        <div class="col-2">
          <button class="btn btn-primary mb-5   px-4" (click)="AddRules()" type="submit"> Save</button>
          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop" (click)="UpdateRules(RuleId)">Update</button>     -->
            </div>

      </form>

    </div>

    <div class="container">
      <h1 class="text-center">Rules Table </h1>
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Bonus</th>
                <th>Discount</th>
                <th>Day one</th>
                <th>Day two</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (item of Rule; track item.Id) {
            <tr>
                <td>{{item.bonus}}</td>
                <td>{{item.discound}}</td>
                <td>{{item.offDay1}}</td>
                <td>{{item.offDay2}}</td>
                <td>
                 
                  <button type="button" class="btn btn-warning" (click)="AddRuleToEmployee(item.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Use </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger"   (click)="DeleteRule(item.id)"    data-bs-toggle="modal"  data-bs-target="#staticBackdrop"> Delete </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>

  </div>
</section>